# R specific
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/
po/*~
rsconnect/
*.Rproj

# RStudio files
*.Rproj
.Rproj.user

# LaTeX files 
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.ptc
*.xdv
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.bbl
*.blg

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.directory

# Project specific
# Data files
stores/raw/*
!stores/raw/README.md
stores/processed/*
!stores/processed/README.md

# Temporary files
*.temp
*.tmp
~$*
*.bak
*.swp

# Output files
views/figures/*
!views/figures/README.md
views/tables/*
!views/tables/README.md
